html, body {
  background-color: #ccc;
  margin: 0
}

#square {
  background-color: #2eaa05;
  width: 1000px;
  height: 1000px;
  text-align: justify;
  text-align-last: justify;
  word-wrap: break-word;
}

#text {
  color: #fff;
  line-height: 190px;
  font-family: 'Patua One';
  font-size: 150px;
}
